* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root { 

  --primary: #0C6AB0;
  --primary-hover: #0092FF;
  --white: #FFFFFF;
  --grey: #A2A1A1;
  --text: #000000;
  --text-light: #757575;
  --placeholder: #B8B8B8;

  --select-item: #FFCA004D;

  --result-header: #00000012;
  --result-header-text: #7D7D7D;
  
  --button-disabled: #0C6AB080;

}

body {
  display: flex;
  flex-direction: column;  
  height: 100vh;
  margin: 0;  
}