
.hero {
   max-width: 75vw;
   display: flex;
   flex-direction: column;
}

.heroItem {
    display: flex;
}

.heroItemDoc {
    cursor: pointer;
}

.item {
    font-size: 24px;    
    background-color: white;
    text-align: center;
    width: 100%;
    border-right: 2px solid var(--grey);
}

.itemHeader {
    background-color:var(--result-header);
    color: var(--result-header-text);
    padding: 17px 0 10px;
}

.docItem {
    padding: 10px 0;
    background-color: inherit;
    
}

.number {
    max-width: 65px;
}

.name {
    max-width: 350px;
}

.itemPainted {
    background-color: #0C6AB012;
}

.heroItemDoc:hover  {
    cursor: pointer;
    background-color: var(--select-item) ;
}