.result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.resultItem {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.label {
    color: var(--text-light) ;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

.text {
    color: var(--text);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}