
.result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 500px;
    padding: 20px;
}

.resultItem {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.label {
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-light);
}

.title {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
}

